{%- block form_widget_simple -%}
    {%- set attr = { class: 'mdc-text-field__input' }|merge(attr) -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {%- set required = false -%}
    {%- endif -%}

    {% if type == 'hidden' %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% else %}
        <div class="mdc-form-group">
            {% set row_attr = row_attr|merge({
                class: 'mdc-text-field '
                    ~ (outlined is same as(true) ? ' mdc-text-field--outlined' : ' mdc-text-field--filled')
                    ~ (errors|length > 0 ? ' mdc-text-field--invalid' : '')
                    ~ (leading_icon ? ' mdc-text-field--with-leading-icon' : '')
                    ~ (trailing_icon ? ' mdc-text-field--with-trailing-icon' : '')
                    ~ (label is same as(false) ? ' mdc-text-field--no-label' : '')
                    ~ (disabled is same as(true) ? ' mdc-text-field--disabled' : '')
            }) %}

            <label{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
                {% if leading_icon %}
                    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">{{ leading_icon }}</i>
                {% endif %}
                {% if prefix is not same as(false) %}
                    <span class="mdc-text-field__affix mdc-text-field__affix--prefix">{{ prefix }}</span>
                {% endif %}
                <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
                {% if suffix is not same as(false) %}
                    <span class="mdc-text-field__affix mdc-text-field__affix--suffix">{{ suffix }}</span>
                {% endif %}
                {% if trailing_icon %}
                    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing">{{ trailing_icon }}</i>
                {% endif %}

                {% if outlined is same as(false) %}
                    {{- form_label(form, null, {label_attr:{class: 'mdc-floating-label'}}) -}}
                    <div class="mdc-line-ripple"></div>
                {% else %}
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            {{- form_label(form, null, {label_attr:{class: 'mdc-floating-label'}}) -}}
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                {% endif %}
            </label>

            {% if errors|length > 0 or character_count or help %}
                <div class="mdc-text-field-helper-line">
                    {% if errors|length > 0 %}
                        <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" role="alert">
                            {{ errors[0].message }}
                        </div>
                    {% else %}
                        {{- form_help(form) -}}
                    {% endif %}

                    {% if character_count %}
                        <div class="mdc-text-field-character-counter"></div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{%- endblock form_widget_simple -%}
